body[data-theme="dark"] {
	/* hsl (fallback color) */
	--bg-dark: hsl(226 100% 4%);
	--bg: hsl(213 100% 6%);
	--bg-light: hsl(206 100% 8%);
	--text: hsl(205 100% 95%);
	--text-muted: hsl(205 75% 69%);
	--highlight: hsl(198 100% 27%);
	--border: hsl(200 100% 19%);
	--border-muted: hsl(204 100% 13%);
	--primary: hsl(204 96% 67%);
	--secondary: hsl(29 80% 63%);
	--danger: hsl(8 68% 66%);
	--warning: hsl(52 59% 44%);
	--success: hsl(152 45% 49%);
	--info: hsl(217 80% 68%);
	/* oklch */
	--bg-dark: oklch(0.1 0.065 241);
	--bg: oklch(0.15 0.065 241);
	--bg-light: oklch(0.2 0.065 241);
	--text: oklch(0.96 0.1 241);
	--text-muted: oklch(0.76 0.1 241);
	--highlight: oklch(0.5 0.13 241);
	--border: oklch(0.4 0.13 241);
	--border-muted: oklch(0.3 0.13 241);
	--primary: oklch(0.76 0.13 241);
	--secondary: oklch(0.76 0.13 61);
	--danger: oklch(0.7 0.13 30);
	--warning: oklch(0.7 0.13 100);
	--success: oklch(0.7 0.13 160);
	--info: oklch(0.7 0.13 260);
}

body[data-theme="light"] {
	/* hsl (fallback color) */
	--bg-dark: hsl(206 100% 90%);
	--bg: hsl(206 100% 95%);
	--bg-light: hsl(206 100% 100%);
	--text: hsl(227 100% 9%);
	--text-muted: hsl(200 100% 19%);
	--highlight: hsl(205 100% 99%);
	--border: hsl(202 74% 45%);
	--border-muted: hsl(204 77% 59%);
	--primary: hsl(200 100% 19%);
	--secondary: hsl(32 100% 17%);
	--danger: hsl(7 51% 41%);
	--warning: hsl(53 100% 15%);
	--success: hsl(161 100% 17%);
	--info: hsl(217 54% 44%);
	/* oklch */
	--bg-dark: oklch(0.92 0.065 241);
	--bg: oklch(0.96 0.065 241);
	--bg-light: oklch(1 0.065 241);
	--text: oklch(0.15 0.13 241);
	--text-muted: oklch(0.4 0.13 241);
	--highlight: oklch(1 0.13 241);
	--border: oklch(0.6 0.13 241);
	--border-muted: oklch(0.7 0.13 241);
	--primary: oklch(0.4 0.13 241);
	--secondary: oklch(0.4 0.13 61);
	--danger: oklch(0.5 0.13 30);
	--warning: oklch(0.5 0.13 100);
	--success: oklch(0.5 0.13 160);
	--info: oklch(0.5 0.13 260);
}