<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Lego Set Tracker</title>

	<link rel="stylesheet" href="../../static/css/reset.css" />
	<link rel="stylesheet" href="../../static/css/themes.css" />
	<link rel="stylesheet" href="../../static/css/styles.css" />

	<script type="module">
		import { createIcons, Menu, House, ToyBrick, BarChart, Settings, Sun, Moon, Monitor } from "../../../node_modules/lucide/dist/esm/lucide.js";

		const iconsConfig = {
			icons: {
				Menu, House, ToyBrick, BarChart, Settings, Sun, Moon, Monitor
			}
		};

		// Initial icon creation
		document.addEventListener("DOMContentLoaded", () => {
			electronAPI.loadPage('home');
			createIcons(iconsConfig);
		});

		// Recreate icons on page change
		document.addEventListener('pageChanged', () => {
			createIcons(iconsConfig);
		});
	</script>
</head>

<body data-theme="light">
	<header>
		<nav class="navbar">
			<div class="menu-section">
				<button class="menu-btn"><i data-lucide="menu"></i></button>
			</div>
			<div class="nav-links-section">
				<button class="nav-link" onclick="electronAPI.loadPage('home')"><i data-lucide="house"></i>
					<span>Home</span></button>
				<button class="nav-link" onclick="electronAPI.loadPage('sets')"><i data-lucide="toy-brick"></i>
					<span>Sets</span></button>
				<button class="nav-link" onclick="electronAPI.loadPage('total-pieces')"><i data-lucide="bar-chart"></i>
					<span>Total
						Pieces</span></button>
				<button class="nav-link" onclick="electronAPI.loadPage('settings')"><i data-lucide="settings"></i>
					<span>Settings</span></button>
			</div>
		</nav>
	</header>

	<main id="main" class="main-content">
		<!-- Rendered page content will appear here -->
	</main>

</body>

</html>
