<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Hello from Electron renderer!</title>

	<link rel="stylesheet" href="../../static/css/reset.css" />
	<link rel="stylesheet" href="../../static/css/themes.css" />
	<link rel="stylesheet" href="../../static/css/style.css" />

	<!-- <script type="module" src="../../static/js/lucide.js"></script> -->
	<script type="module">
		import { createIcons, Menu, House, ToyBrick, BarChart, Settings } from "../../../node_modules/lucide/dist/esm/lucide.js";

		document.addEventListener("DOMContentLoaded", () => {
			electronAPI.loadPage('home');

			createIcons({
				icons: {
					Menu, House, ToyBrick, BarChart, Settings
				}
			});
		});
	</script>
</head>

<body data-theme="light">
	<nav>
		<button><i data-lucide="menu"></i></button>
		<a onclick="electronAPI.loadPage('home')"><i data-lucide="house"></i> <span>Home</span></a>
		<a onclick="electronAPI.loadPage('sets')"><i data-lucide="toy-brick"></i> <span>Sets</span></a>
		<a onclick="electronAPI.loadPage('total-pieces')"><i data-lucide="bar-chart"></i> <span>Total Pieces</span></a>
		<a onclick="electronAPI.loadPage('settings')"><i data-lucide="settings"></i> <span>Settings</span></a>
	</nav>

	<main id="main">
		<!-- Rendered page content will appear here -->
	</main>

</body>

</html>
